body {
  background: blueviolet;

}

.App {
  text-align: center;
}

.heading {
  color: red;
}
.para{
  color: White;
  font-weight: bolder;
  font-size: large;
}

.jokes-btn {

  background-color: green;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}